#calendar {
    display: flex;
    flex-direction: column;
  margin-top:5em;
  width: 100%;
}

#month {
  text-align:center;
  text-transform:uppercase;
}

#weekdays{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    

    border: solid;
  
}

#days {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    border: solid;
}

.day{
    width: 13%;
    height: 200px;
    border: solid;
    margin: none;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.day:hover {
  background-color: lightgray;
}

.hasEvent {
  background-color:blue;
}