#theCalendar{

    display: grid;
    margin: 30%;
    border: solid;
    overflow: hidden;
}

#theCalendar h1{
    text-align: center;
}

#weekdays{
    display: grid;
    grid-template-columns: repeat(7, 1fr);

    overflow: hidden;
}

#weekdays div{
    background-color: rgba(255, 255, 255, 0.8);


    text-align: center;
}

#days{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background-color: #2196F3;
    border: solid;

}

.day{
    text-align: center;
    border: 1px solid;
}