<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles.css">
  </head>
  
  <body>
    <div class="error">
        <p class="error__message">
            <%= message %> 
        </p>
    </div>

    <div class ="mynd">
      <a href="/">
      <img src="/img/asparlogo/Aspar.png" alt="Aspar">
    </a>
    </div>
  </body>

</html>