<%- include('header') -%>
<ul class="myndir" id="myList">
    <%pictures.forEach((picture) =>{%>
        <li>
            <% if (picture) {%>
                <img src = "./img/<%= picture %>" alt="">
            <% } %>
        </li>
        <% }) %>
</ul>

<div class = "meira">
        <a href="#" id ="loadMore">more</a>
      </div>

      
      
      <script>
    
            $('document').ready(function() {
                
                size_li = $("#myList li").length;
                 
                if(size_li <=9 ) $('#loadMore').hide();
                else $('#loadMore').show();
                 x=9;
                 $('#myList li:lt('+x+')').show();
                 $('#loadMore').click(function (e) {
                    e.preventDefault();
                 x= (x+9 <= size_li) ? x+9 : size_li;
                 if(x >= size_li) $('#loadMore').hide();
                 $('#myList li:lt('+x+')').show();
                 });
            });
                 
       
                </script>

<%- include('footer') -%>