<!DOCTYPE html>
<html lang="is">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vrúmm</title>

    <link rel="stylesheet" href="/createSurvey.css">
    <link rel="stylesheet" href="/header.css">
    <link rel="stylesheet" href="/home.css">
    <link rel="stylesheet" href="/footer.css">

    <link rel="shortcut icon" href="/img/Logo.png">
    <link rel="apple-touch-icon" href="/img/Logo.png">
</head>
<body>
<div id="theBody">
    <header id="header">
        <!-- <img id="logoWhite" src="/img/logoWhite.png" alt="Vrúmm"> -->
    </header>