 /*start of CalendarBox*/

#booker{
    display: none;
}

#dateNotShowed{
    display: none;
}

 

 #theSame{
     width: 100%;
    padding: 2% 5% 0 10%;
    display: flex;
    flex-direction: column;
 }

 #theCalendar{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    cursor: default;
}

#headerMonth{
    border: 1px solid silver;
    padding: 0;
    overflow: auto;
    display: grid;
    grid-template-columns: 0.1fr 1fr 0.1fr;
}

#headerMonth h1{
    text-align: center;
    width: 100%;
    font-size: 20px;
    margin: 0;
    
}

#headerMonth div{
    display: flex;
    align-items: center;
    margin: 0;
}


#headerMonth a {
    text-decoration: none;
    padding: 8px 16px;
    background-color: #f1f1f1;
    border: 1px solid silver;
}

#headerMonth a:hover {
    background-color: #ddd;
    color: black;
    cursor: pointer;
}

#weekdays{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    overflow: hidden;
}

#weekdays div{
    text-align: center;
    font-size: 10px;
}

#days{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background: white;
}

.day{
    text-align: center;
    border: 0.1px solid silver;
    opacity: 0.9;
    padding: 10% 0;
}

.grayDay{
    color: gray;
}

.unavailable{
    background: #ff9999;
    color: #ff6666;
}

.available{
    background: #BCED91;
    color: #61B329;
}

.unavailable:hover,
.available:hover{
    opacity: 1.0;
    cursor: pointer;
}
 /*End of CalendarBox*/

 /*start of booking*/

 #booking{
     display: none;
 }
 #notAvailable{
     display: none;
 }

 #bookingInfo{
     display: none;
 }

 #seatsLeft{
    background: orange;
    border-radius: 5px;
    padding: 1%;
    margin-left: 3%;
    color: white;
 }

 .pickDate > h4{
     margin-bottom: 0;
 }

 .pickedDate{
     display: grid;
     grid-template-columns: 1fr;
 }


 .pickDate > div{
     border: 1px solid;
     padding-top: 0;
     padding-right: 0;
     padding-bottom: 5%;
     padding-left: 5%;
 }

.containerBelow{
    padding-top: 5%;
    margin-right: 5%;
    border-top: 1px solid;
    font-size: 14px;
}

#selectContainer{
    width: 25%;
    display: flex;
    flex-direction: column;
    padding: 5% 0 0 0;
}


select{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.totalPrice{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}


#priceContainer strong{
    font-size: 24px;
}

.totalPrice label{
    width: 100%;
    text-align: right;
}

#priceLabel{
    font-size: 24px;
}

#thePrice{
    font-size: 32px;
    color: black;
}

#bookButtonContainer{
    margin-top: 5%;
    display: flex;
    justify-content: flex-end;
}

.confirmButtons{
    background: orange;
    color: white;
    border-radius: 10px;
    width: 120px;
    font-size: 25px;
    border: solid;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
}

.confirmButtons:hover{
    background-color: #cc8400;
}

.button:hover {background-color: #3e8e41}

.confirmButtons:active {
  background-color: #cc8400;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
    

/*End of Booking*/

/*Start of BookingID*/

#bookingID{
    display: none;
    width: 100%;
}

h4{
    font-size: 30px;
    margin-top: 0;
}

#bookingID h4{
    
    margin-bottom: 0;
}

.eachInput{
    padding-right: 5%;
}

.eachInput input{
    height: 40px;
    width: 100%;
    line-height: 50px;
    font-size: 20px;
    border-radius: 5px;
}

.eachInput label{
    font-size: 20px;
}



/*#telly{
    margin-top: 10%;
}*/

/*End of BookingID*/

#payButton{
    margin-top: 5%;
    display: flex;
    display: none;
    justify-content: flex-end;
}

#exit{
    display: none;
}

@media only screen and (max-width: 750px){

#exit{
    position: fixed;
    top: 6.5%;
    right: 5.5%;
    display: flex;
    justify-content: flex-end;
}

#exitSymbol{
    position: relative;
    font-size: 40px;
    height: 30px;
    cursor: pointer;
    color: gray;
}

#theCalendarBox{
    border-radius: 5px;
    max-height: 60%;
    position: fixed;
    top: 10%;
    z-index: 10;
    width: 91%;
    background-color: #dbdbdb;
    overflow: hidden;
    display: none;
}


#theSame{
    overflow: scroll;
    max-height: 100%;
    padding: 45px 3% 2% 3%;
}

    #booker{
        display: flex;
        justify-content: center;
    }

    #booker .bookerButton{
        font-size: 30px;
        width: 150px;
        padding: 0 2px;
    }

    .eachInput input{
        height: 60px;
        line-height: 70px;
        font-size:30px;
    }

    .controls select{
        height: 40px;
        line-height: 50px;
        font-size: 20px;
    }

    #payButton .confirmButtons{
        font-size: 30px;
        width: 150px;
    }

    #weekdays div{
        border: solid 1px gray;
    }
}