footer{
    margin-top: 10%;
    border-top: solid;
    border-color: #D3D3D3;
    background-color: #DCDCDC;
}
.footerStuff{
    display: grid;
    grid-template-columns: 6fr 2fr 6fr;
    margin-bottom: -1%;
}

.footerStuff .asparLogo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10% 0 0 0 ;

}
.footerStuff .asparLogo img{
    width: 100%;
    margin-bottom: 0;
    max-width: 110px;
    max-height: 100px;
}

.footerStuff .asparLogo h1{
    margin-top: 1%;
    font-size: 14px;
    color: #808080;
    font-style: italic;

    cursor: default;
}

.footerLink{
    display: flex;
    justify-content: flex-end;
}
.footerLink a{
    text-decoration: none;
    font-style: italic;
    margin-right: 0.4%;
    color: #808080;
}

@media only screen and (max-width: 750px){

    .footerStuff .asparLogo img{
        width: 100px;
    }

}