.kynning{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: gray;

    margin-top: 75px;
    justify-content: center;
}

.kynning h3{
    font-weight: 100;
    font-size: 4rem;
    margin-bottom: 30px;
    transform: scale(.8, 1);
    cursor: default;
}

.kynning p{
    margin: 0 10% 5% 10%;
    font-size: 24px;
    padding: 0 10%;
    cursor: default;
    text-align: center;
}

.greinar{
    display: grid;
    grid-template-columns: 1fr;
    margin: 100px 0 0 0;
    list-style: none;
    padding: 0;
}

/* .greinar a{
    display: flex;
    color: black;
    text-decoration:  none;
    height: 100%;
    transition: all 1s;
} */

/*.greinar a:hover{
    transform: scale(1.05);
}*/

.linkurAGrein{
    padding: 0 0 0 0;
    margin: 0 0;
    max-height: 400px;
    display: grid;
    grid-template-columns: 5fr 0fr 0fr 0fr 5fr;
    text-decoration:  none;
    color: grey;
    transition: all 1.5s;
    overflow: visible;
}

@media (min-width: 1500px){
    .linkurAGrein{
        margin: 0 10%;
    }

    .rightText, .leftText{
        margin-top: 5%;
        margin-bottom: 10%;
    } 
}

.linkurAGrein button{
    background: none;
    /*border: #deeff5 solid;*/
    border: none;
    transition: all 1.5s;
    padding: 13px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

#tourButton{
    margin-left: 45%;
}

.linkurAGrein:hover button{
    box-shadow: 2px 3px gray;
    border: #e6f3f7 solid 1px;
    color: #e6f3f7;
}

.thisCol button{
    color: #e6f3f7;
}

.otherCol button{
    color: #ccffcc;
}

.thisCol:hover button{
    background: #add8e6;
    transition: all 1s;
}

.thisCol:hover button:hover{
    background-color: #9bc2cf;
}

.linkurAGrein:hover button:active{
    transition: all 0s;
    box-shadow: 1px 1px gray;
}

.linkurAGrein button:focus {outline:none;}



.thisCol{
    background-color: #e6f3f7/*#eef7fa*/;
}
.otherCol:hover{
    background-color: #b2ffb2/*#f9f9ea*/;
}

.otherCol:hover button{
    background-color: #99ff99;
}

.otherCol:hover button:hover{
    background-color: #7fff7f;
}

.otherCol{
    background-color: #ccffcc;
}

.thisCol:hover{
    background-color: #cde7f0/*#deeff5*/;
}


.one{
    order: 1;
}

.two{
    order: 2;
}

.three{
    order: 3;
}

.leftText{
    order: 0;
    margin: 10%;
}

.right{
    order: 4;
    z-index: 0;
    /*display: flex;
    justify-content: flex-end;*/
}

.rightText{
    order: 4;
    grid-column: 4fr;
    margin: 10%;
}

.left{
    order: 0;
    z-index: 0;
}

.greinar img{
    flex: 0 0 auto;
    /*max-height: 100%;*/
    max-height: 450px;
    width: 100%;
    /*border-radius: 50%;*/
}


.articleInfo .articleTitle h4{
    font-size: 30px;
    text-align: center;
    margin: 0 0 0 0;
}

.articleInfo .articleDescription h5{
    font-size: 20px;
    text-align: center;
    margin: 0;
}

.articleContent {
    line-height: 2.5;
}
.articleInfo .articleContent li{
    margin: 0 0 0 0;
}

