.kynning{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: gray;

    margin-top: 75px;
    justify-content: center;
}

.kynning h3{
    font-weight: 100;
    font-size: 4rem;
    margin-bottom: 30px;
    transform: scale(.8, 1);
    cursor: default;
}

.kynning p{
    margin: 0 10% 5% 10%;
    font-size: 24px;
    padding: 0 10%;
    cursor: default;
    text-align: center;
}

.greinar{
    display: grid;
    grid-template-columns: 1fr;
    margin: 100px 0 0 0;
    list-style: none;
    padding: 0;
}

/* .greinar a{
    display: flex;
    color: black;
    text-decoration:  none;
    height: 100%;
    transition: all 1s;
} */

/*.greinar a:hover{
    transform: scale(1.05);
}*/

.linkurAGrein{
    padding: 50px 10% 50px 10%;
    margin: 0 2%;
    background-color: #7f7fff;
    max-height: 400px;
    display: grid;
    grid-template-columns: 5fr 1fr 1fr 1fr 5fr;
    text-decoration:  none;
    color: grey;
    transition: all 1.5s;
}

.otherCol{
    background-color: #f1f1f1/*#f9f9ea*/;
}

.thisCol{
    background-color: #deeff5;
}

.linkurAGrein:hover{
    transform: scale(1.05);
}
.one{
    order: 1;
}

.two{
    order: 2;
}

.three{
    order: 3;
}

.leftText{
    order: 0;
}

.right{
    order: 4;
    display: flex;
    justify-content: flex-end;
}

.rightText{
    order: 4;
    grid-column: 4fr;
}

.left{
    order: 0;
}

.greinar img{
    flex: 0 0 auto;
    max-height: 300px;
    min-width: 300px;
    border-radius: 50%;
}


.articleInfo .articleTitle h4{
    font-size: 30px;
    text-align: center;
    margin: 0 0 0 0;
}

.articleInfo .articleDescription h5{
    font-size: 20px;
    text-align: center;
    margin: 0;
}

.articleContent {
    line-height: 2.5;
}
.articleInfo .articleContent li{
    margin: 0 0 0 0;
}

