/*Start of Pictures síðu*/

.myndir {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 100px 10% 0 10%;

    list-style: none;
    padding: 0;

}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 3;
    padding: 5% 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
  }

  .imageContainer{
      display: grid;
      grid-template-columns: 0.5fr 2fr 0.5fr;
      z-index: 4;
      position: fixed;
  }

  .theOneImage{
      display: grid;
      grid-template-columns: 0.5fr 10fr 0.5fr;
  }

  #largeImage{
      border-radius: 3px;
  }

  .prevPic,
.nextPic {
    position: relative;
    display: flex;
    cursor: pointer;
    color: black;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    align-items: center;
    color: white;
    cursor: pointer;


  user-select: none;
  -webkit-user-select: none;
}


  .prevPic{
      left: 4.4%;
  }

  .nextPic{
      display: flex;
      justify-content: flex-end;
      right :4.4%;
  }

  .prevPic:hover,
  .nextPic:hover{
    cursor: pointer;
      background: white;
      opacity: 0.3;
  }


  #largeImage{
    width: 100%;
  }


.myndir img{
    border-radius: 5px;
    width: 100%;
    height: 280px;
    /*height: 17.75rem;
    width: 23.5rem;*/
}

.myndir li{
    transition: all 1s;
    opacity: 0.9;
    overflow: hidden;
}

.myndir li:hover{
    opacity: 1.0;
    transform: scale(1.1);
    z-index: 1;
}

.meira {
    
    margin: 10px 10% 100px 10%;
    text-align: center;
}

.meira a{
    opacity: 0.7;
    transition: all 1s;
}

.meira a:hover{
    opacity: 1.0;
}

#myList li{
    display: none;
}

#loadMore {
    text-decoration: none;
    color: black;
    font-style: italic;
}

@media screen and (max-width: 750px){
    .myndir{
        
        display: flex;
        flex-direction: column;
        margin: 1% 0;
        margin-top: 20px;
    }

    .myndir img{
        height: 200px;
    }

    .imageContainer{
        top: 30%;
        grid-template-columns: 0fr 2fr 0fr;
    }

}

/*End of pictures page*/