*{
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	
    box-sizing: border-box; 
    
    color: gray;

    line-height: 2.5;
    

}


body{
    margin: 0 0 0 0;
    /*display: flex;
    flex-direction: column;*/
    background-color: #F8F8F8;

    position: static;
    z-index: 0;

}

.big_picture{
  display: flex;
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
  background-color: black;


  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.logo{
    position: absolute;

    margin: 0.5% 0;
    
    font-size: 18px;
    box-sizing: border-box;

}

.logo a{
    cursor: initial;
}

.logo img{
    opacity: 0.5;
    transition: opacity 2s;
}

.logo img:hover{
    opacity: 1.0;
}

.big_picture h1{

    margin: 300px 0 0 20px;

    font: normal 60px/1 "Fredoka One", Helvetica, sans-serif;
    color: rgba(255,255,255,1);
    text-shadow: 3px 3px 0 #014dd9;  
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    height: 4rem;

    opacity: 0.3;
    
    
    border-bottom: solid rgb(211,211,211);
    border-width: thin;
    margin: 0 10%;
    z-index: 2;
    transition: all 1s;
}
nav:hover{
    opacity: 0.9;
    background-color: #F5F5F5;

}

nav a{
    color: black;
    text-decoration:  none;
    font-weight:      bold;
    font-size: 20px;
    text-align: center;

    box-sizing: border-box;
    padding: 5px 20px;

    transition: font-size 1s;
}

nav a:hover{
    font-size: 24px;
}

nav a:active{
    color: #014dd9;
}


.kynning{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: gray;

    margin-top: 75px;
    justify-content: center;

    
}

.kynning h3{
    font-weight: 100;
    font-size: 4rem;
    margin-bottom: 30px;
    transform: scale(.8, 1);
    cursor: default;
}

.kynning p{
    margin: 0 10% 5% 10%;
    font-size: 24px;
    padding: 0 10%;
    cursor: default;

}

.greinar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 10% 0 10%;

    list-style: none;
    padding: 0;

}

/*Start of article*/

.articleContainer{
    display: grid;
    grid-template-columns: 0.6fr 1fr 0.6fr;
    margin: 2% 0 10% 0;
}

.titleArticle{
    font-size: 50px;
}

.contentArticle{
    line-height: 1.5;

}

.photoContainer img{
    width: 100%;
}

/*End of article*/


.greinar li{
    margin-top: 100px;
}
.greinar a{
    
    color: black;
    text-decoration:  none;
    height: 100%;
}


.greinar img{
    border-radius: 5px;
    max-height: 400px;
}

.greinar h1{
    text-align: center;
    color: #323232;
}

.greinar li{
    opacity: 0.8;
    transition: all 1s;
    
}

.greinar li:hover{
    opacity: 1.0;
    transform: scale(1.05);
}

/*Start of Pictures síðu*/

.myndir {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 100px 10% 0 10%;

    list-style: none;
    padding: 0;

}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 3;
    padding: 5% 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
  }

  .imageContainer{
      display: grid;
      grid-template-columns: 0.5fr 2fr 0.5fr;
      z-index: 4;
  }

  .theOneImage{
      display: grid;
      grid-template-columns: 0.5fr 10fr 0.5fr;
  }

  #largeImage{
      border-radius: 3px;
  }

  .prevPic,
.nextPic {
    position: relative;
    display: flex;
    cursor: pointer;
    color: black;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    align-items: center;
    color: white;
    cursor: pointer;


  user-select: none;
  -webkit-user-select: none;
}


  .prevPic{
      left: 4.4%;
  }

  .nextPic{
      display: flex;
      justify-content: flex-end;
      right :4.4%;
  }

  .prevPic:hover,
  .nextPic:hover{
    cursor: pointer;
      background: white;
      opacity: 0.3;
  }


  #largeImage{
    width: 100%;
  }


.myndir img{
    border-radius: 5px;
    height: 17.75rem;
    width: 23.5rem;

}

.myndir li{
    transition: all 1s;
    margin-bottom: 0.3rem;
    opacity: 0.9;
}

.myndir li:hover{
    opacity: 1.0;
    transform: scale(1.1);
    z-index: 1;
}

.meira {
    
    margin: 10px 10% 100px 10%;
    text-align: center;
}

.meira a{
    opacity: 0.7;
    transition: all 1s;
}

.meira a:hover{
    opacity: 1.0;
}

#myList li{
    display: none;
}
#loadMore {
    text-decoration: none;
    color: black;
    font-style: italic;
}

/*End of pictures page*/

/*Start of theTour page*/

.glymurHeading{
    display: flex;
    justify-content: center;
    margin-left: 5%;
    font-weight: 100;
    font-size: 2rem;
    line-height: 1.5;
    transform: scale(.9, 1);

    cursor: default;
}

.glymurHeading h2{
    text-align: center;
    margin-top: 50px;
    margin-right: 20%;
    color: #696969;
}

.peppTexti{
    display: flex;
    justify-content: center;
    color: gray;
    margin-bottom: 10%;
}

.upplýsingar{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10%;
    font-size: 16px;
}

.upplýsingar ul{
    list-style: none;
    background: white;
    display: flex;
    border: solid silver;
    flex-wrap: wrap;
    padding: 10px;

}

.upplýsingar li{
    margin-right: 2%;
    flex-basis: 40%;
    margin-bottom: 20px;
}


/*Start of together, myndG & Calendar*/

.together{
    display: grid;
    grid-template-columns: 0.5fr 1.2fr 0.8fr;
    grid-gap: 10px;
}

/*Start of gallerý*/

.myndaGallerý{
overflow: hidden;
margin-bottom: 10%;
cursor: default;

}
.myndaGallerý h2{
    color: #696969;
}
.pictureKeeper{
    padding: 2%;
    margin-bottom: 8%;
    border: solid darkgray;
    background: grey;
    display: grid;
    grid-template-columns: 1fr;
}
.mainPic{
    margin: 0;
   display: flex;
   justify-content: center;
   height: 35rem;
   margin-bottom: 0;
   width: 100%;
}

.mainPic img{
    width: 100%;
    border-radius: 2px;
}


/* Next & previous buttons */
.prev,
.next {
    display: flex;
    cursor: pointer;
    color: black;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    align-items: center;
    background-color:rgba(0,0,0,0.8);
    opacity: 0.5;
    width: 100%;


  user-select: none;
  -webkit-user-select: none;
}

.prev{
    border-radius: 3px 0 3px 0;
}

/* Position the "next button" to the right */
.next {
  border-radius: 0 3px 3px 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {

   opacity: 0.9;
}

 .row  {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
 
    margin: 0;
    margin-top: 2%;
    
    height: 150px;
 }

 ::-webkit-scrollbar {
   width: 0px;  /* remove scrollbar space */
   background: transparent;  /* optional: just make scrollbar invisible */
}

 .images {
   margin: 0;
   width: 33%;
   height: 100%;

   margin: 0 10px 0 0;
   /*padding: 10px;*/
   

 }
 .images img{
     height: 100%;
     margin: 0;
     padding: 0;
     z-index: 0;
     opacity: 0.8;
 }

 .images img:hover{
     opacity: 1.0;
 }

 /*End of gallerý*/

 /*start of Booking*/



 /*End of Booking*/

 /*End of together, myndG & Calendar*/

.upplýsingar .frekariLýsing{
    border: solid silver;
    color: #696969;
    padding: 20px;
}

.frekariLýsing a{
    text-decoration: none;
    color: black;
    font-style: italic;
}

/*End of theTour page*/

/*Byrjun á About-US síðu*/

#peopleOfAspar{
   text-align: center;
   margin: 5% 0;
   font-weight: 100;
    font-size: 4rem;
    transform: scale(.8, 1);

    cursor: default;
}
.people{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 10% 10% 10%;
    column-width: 10px;
    grid-column-gap: 10px;
    line-height: 2;

    cursor: default;

}

.people h1{
    color: gray;
}
.people h2{
    font-style: italic;
    color: darkgray;
}

.mynd{
    margin: 0 20%;
    height: 425px;
    border-radius: 5px;
    overflow: hidden;
}

.person{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: lightgray;
    padding: 20px 5% 20px 0;
}

.person .content{
    color: #696969;
    margin: 0 5%;

}


.person img{
    width: 100%;
}

/*Endir á About-US síðu*/


/*Start á contact-us*/

#middle{
    margin-bottom: 15%;
}

#details{
    margin-bottom: 10%;
}

.field-invalid{
    background: #ff9999;
}

#formPage{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    margin: 5% 0 10% 0;
}

#middle h1, #middle p{
    cursor: default;
}

#submitForm{
   display: grid;
   grid-template-columns: 1fr;
   grid-gap: 1rem;
}

#submitForm .about{
    /*text-align: start;*/
    min-height: 100px;
    overflow: auto;
    resize: none;
    border-color: lightgray;
}

#middle h1{
    text-align: center;
    margin-top: 0;
    font-weight: 100;
    font-size: 3.5rem;
    line-height: 1.5;
    transform: scale(.8, 1);
}

#middle p{
    font-size: 20px;
}

#send_button{
    font-size: 14px;
    width: 12%;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    
}

/*Endir á contact-us*/

footer{
    border-top: solid;
    border-color: #C8C8C8;
    background-color: #D3D3D3;
}
.footerStuff{
    display: grid;
    grid-template-columns: 3fr 3fr 2fr 3fr 3fr;
    margin-bottom: -1%;
}

.footerStuff .asparLogo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10% 0 0 0 ;

}
.footerStuff .asparLogo img{
    width: 50%;
    margin-bottom: 0;
}

.footerStuff .asparLogo h1{
    margin-top: 1%;
    font-size: 14px;
    color: gray;
    font-style: italic;

    cursor: default;
}

.footerStuff form{
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.footerStuff form input{
margin: 5px;
}

.footerStuff form .about{
    margin: 5px;
    text-align: start;
    min-height: 100px;
    overflow: auto;
    resize: none;
    border-color: lightgray;
}

.footerLink{
    display: flex;
    justify-content: flex-end;
}
.footerLink a{
    text-decoration: none;
    font-style: italic;
    margin-right: 0.4%;
}
