*{
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	
    box-sizing: border-box; 
    

}

body{
    margin: 0 0 0 0;
    /*display: flex;
    flex-direction: column;*/
    background-color: #F8F8F8;

    position: static;
    z-index: 0;

}