/*Start of theTour page*/
#conni{
    position: fixed;
    top: 30%;
    display: flex;
    justify-content: center;
    width: 100%;
}
#thankYouMessageContainer{
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    min-height: 300px;
    background-color: lightblue;
    border-radius: 5%;
    opacity: 1.0;
}
#thankYouMessage{
    z-index: 100;
    opacity: 1.0;
    width: 80%;
}

#theTour{
    line-height: 2.5;
}
.glymurHeading{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 5%;
    font-weight: 100;
    font-size: 2rem;
    line-height: 1.5;
    transform: scale(.9, 1);

    cursor: default;
}

.glymurHeading h2{
    text-align: center;
    margin-top: 50px;
    margin-right: 20%;
    margin-bottom: 0;
    color: #696969;
}

.glymurHeading h3{
    text-align: center;
    margin-top: 0;
    padding: 0;
    margin-right: 20%;
    color: #696969;
}

#payInfo{
display: none;
/*display: flex;
justify-content: flex-end;*/
}

#payLabel{
    background-color: lightblue;
    text-align: center;
    line-height: 20px;
    margin-right: 7.5%;
    border-radius: 5%;
    padding: 10px;
}

.peppTexti{
    display: flex;
    justify-content: center;
    color: gray;
    margin-bottom: 10%;
}

.upplýsingar{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
}

.upplýsingar ul{
    list-style: none;
    background: white;
    display: flex;
    border: solid silver;
    flex-wrap: wrap;
    padding: 10px;

}

.upplýsingar li{
    margin-right: 2%;
    flex-basis: 40%;
    margin-bottom: 20px;
}


/*Start of together, myndG & Calendar*/

.together{
    display: grid;
    grid-template-columns: 0.5fr 1.2fr 0.8fr;
    grid-gap: 10px;
}

/*Start of gallerý*/

.myndaGallerý{
overflow: hidden;
margin-bottom: 10%;
cursor: default;

}
.myndaGallerý h2{
    color: #696969;
}
.pictureKeeper{
    padding: 2%;
    margin-bottom: 8%;
    /*border: solid darkgray;*/
    /*background: grey;*/
    display: grid;
    grid-template-columns: 1fr;
    overflow: visible;
}
.mainPic{
    position: relative;
    right: 10%;
    margin: 0;
    display: grid;
    grid-template-columns: 0.5fr 10fr 0.5fr;
   
   margin-bottom: 0;
   width: 120%;
}

.mainPic img{
    width: 100%;
    border-radius: 2px;
}

/* Next & previou buttons */
.prev,
.next {
    position: relative;
    display: flex;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    align-items: center;
    color: white;
    cursor: pointer;


  user-select: none;
  -webkit-user-select: none;
}

.prev{
    border-radius: 3px 0 3px 0;
    left: 6.7%;

}

/* Position the "next button" to the right */
.next {
  border-radius: 0 3px 3px 0;
  display: flex;
      justify-content: flex-end;
      right :6.7%;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    cursor: pointer;
    background: white;
    opacity: 0.3;
}

 

 ::-webkit-scrollbar {
   width: 0px;  /* remove scrollbar space */
   background: transparent;  /* optional: just make scrollbar invisible */
}

 .images {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
   margin: 2% 0 0 2%;
   height: 100%;
   /*padding: 10px;*/
 }

 .ms-touch.images {
    overflow-x: scroll;
    overflow-y: hidden;
    
    -ms-overflow-style: none;
    /* Hides the scrollbar. */
    
    -ms-scroll-chaining: none;
    /* Prevents Metro from swiping to the next tab or app. */
    
    -ms-scroll-snap-type: mandatory;
    /* Forces a snap scroll behavior on your images. */
    
    -ms-scroll-snap-points-x: snapInterval(0%, 100%);
    /* Defines the y and x intervals to snap to when scrolling. */
  }

 #carousel{
    position: relative;
    right: 10%;
     display: grid;
     grid-template-columns: 0.5fr 10fr 0.5fr;
     overflow-y: hidden;
     width: 120%;
 }
 .images img{
     min-width: 170px;
     max-width: 350px;
     min-height: 140px;
     max-height: 300px;
     height: 100%;
     width: 100%;
     
     margin: 0;
     padding: 0;
     z-index: 0;
     opacity: 0.8;
     margin: 0 10px 0 0;
 }

 .images img:hover{
     opacity: 1.0;
 }



 /*End of gallerý*/

 /*start of Booking*/

/*Sjá calendar&BookingStart.css file*/

 /*End of Booking*/

 /*End of together, myndG & Calendar*/

.upplýsingar .frekariLýsing{
    color: #696969;
}

.frekariLýsing a{
    text-decoration: none;
    color: black;
    font-style: italic;
}

.myndaGallerý h5{
    text-align: center;
    font-size: 24px;
    margin-right: 10%;
}
#tourHighlights{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 10%;
}

#priceTag{
    font-size: 30px;
    text-align: left;
}

#priceAndBooker #booker{
    justify-content: flex-start;
}


#cardContainer{
    display: flex;
    justify-content: flex-end;
}
.card { 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 250px;
    overflow: visible;
    margin: 0 0 10px 0;
    text-align: center;
    font-family: arial;
    color: gray;
  }
  
.profileTitle {
    color: grey;
    font-size: 18px;
  }

  .socialMedia{
      display: grid;
      grid-template-columns: 3fr 1fr 1fr;
  }

  
  .card a {
      margin-top: 15px;
    text-decoration: none;
    font-size: 22px;
    color: black;
    padding: 0;
  }

  .priceAndProfile{
      margin-top: 50px;
      display: grid;
      grid-template-columns: 2fr 2fr;
      grid-gap: 10px;
  }

  .card img{
      max-height: 300px;
      border: solid 5px silver;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      margin-bottom: 0;
  }

  .tourGuide{
      font-size: 24px;
      font-weight: bold;
      margin: 0;
      padding: 0;
  }

  .profileTitle{
      margin: 0;
      line-height: 1;
      font-size: 14px;
      font-style: italic;
  }

  .infoOnTourGuide{
      max-height: 500px;
      display: flex;
      flex-direction: column;
  }

  #contactUsContainer{
      margin-top: 50px;
      display: flex;
      justify-content: flex-end;
      overflow: visible;
      min-height: 100px;
      padding-right: 10px;
  }
  #contactUsContainer button{
    border: none;
    border-radius: 5px;
    background: #e7d9cf;
    box-shadow: 2px 5px #999;
    max-height: 50px;

    font: inherit;
    cursor: pointer;
  }

  #contactUsContainer button:hover{
      background-color: #c5a289;
  }

  #contactUsContainer button:active{
    box-shadow: 0 2px #999;
}

#contactUsContainer button:focus{
    outline:0;
}

@media only screen and (max-width: 750px){

    #contactUsContainer button{
        font-size: 20px;
        
    }

    #thankYouMessageContainer{
        width: 80%;
    }
    .together{
        display: flex;
        /*flex-direction: column-reverse;*/
        flex-direction: column;
        margin: 0 5%;
    }

    .sidebar{
        display: none;
    }

    .upplýsingar ul{
        line-height: 1.0;
        padding-top: 5%;
        height: auto;
        color: rgba(19, 17, 17, 0.486);
    }

    .belowText{
        margin-right: 0;
        margin-left: 0;
    }
}



/*End of theTour page*/