/*Start of theTour page*/

#theTour{
    line-height: 2.5;
}
.glymurHeading{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 5%;
    font-weight: 100;
    font-size: 2rem;
    line-height: 1.5;
    transform: scale(.9, 1);

    cursor: default;
}

.glymurHeading h2{
    text-align: center;
    margin-top: 50px;
    margin-right: 20%;
    margin-bottom: 0;
    color: #696969;
}

.glymurHeading h3{
    text-align: center;
    margin-top: 0;
    padding: 0;
    margin-right: 20%;
    color: #696969;
}

.peppTexti{
    display: flex;
    justify-content: center;
    color: gray;
    margin-bottom: 10%;
}

.upplýsingar{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
}

.upplýsingar ul{
    list-style: none;
    background: white;
    display: flex;
    border: solid silver;
    flex-wrap: wrap;
    padding: 10px;

}

.upplýsingar li{
    margin-right: 2%;
    flex-basis: 40%;
    margin-bottom: 20px;
}


/*Start of together, myndG & Calendar*/

.together{
    display: grid;
    grid-template-columns: 0.5fr 1.2fr 0.8fr;
    grid-gap: 10px;
}

/*Start of gallerý*/

.myndaGallerý{
overflow: hidden;
margin-bottom: 10%;
cursor: default;

}
.myndaGallerý h2{
    color: #696969;
}
.pictureKeeper{
    padding: 2%;
    margin-bottom: 8%;
    /*border: solid darkgray;*/
    /*background: grey;*/
    display: grid;
    grid-template-columns: 1fr;
    overflow: visible;
}
.mainPic{
    margin: 0;
   display: flex;
   justify-content: center;
   height: 30rem;
   margin-bottom: 0;
   width: 100%;
}

.mainPic img{
    width: 100%;
    border-radius: 2px;
}


/* Next & previous buttons */
.prev,
.next {
    display: flex;
    cursor: pointer;
    color: black;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    align-items: center;
    background-color:rgba(0,0,0,0.8);
    opacity: 0.5;
    width: 100%;


  user-select: none;
  -webkit-user-select: none;
}

.prev{
    border-radius: 3px 0 3px 0;
}

/* Position the "next button" to the right */
.next {
  border-radius: 0 3px 3px 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {

   opacity: 0.9;
}

 .row  {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
 
    margin: 0;
    margin-top: 2%;
    
    height: 150px;
 }

 ::-webkit-scrollbar {
   width: 0px;  /* remove scrollbar space */
   background: transparent;  /* optional: just make scrollbar invisible */
}

 .images {
   margin: 0;
   height: 100%;

   margin: 0 10px 0 0;
   /*padding: 10px;*/
 }

 #carousel{
     overflow-y: hidden;
     height: 120px;
 }
 .images img{
     width: 150px;
     margin: 0;
     padding: 0;
     z-index: 0;
     opacity: 0.8;
 }

 .images img:hover{
     opacity: 1.0;
 }

 /*End of gallerý*/

 /*start of Booking*/

/*Sjá calendar&BookingStart.css file*/

 /*End of Booking*/

 /*End of together, myndG & Calendar*/

.upplýsingar .frekariLýsing{
    color: #696969;
    padding: 20px;
}

.frekariLýsing a{
    text-decoration: none;
    color: black;
    font-style: italic;
}

.myndaGallerý h5{
    text-align: center;
    font-size: 24px;
    margin-right: 10%;
}
#tourHighlights{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 10%;
}

#priceTag{
    font-size: 30px;
    text-align: left;
}


#cardContainer{
    display: flex;
    justify-content: flex-end;
}
.card { 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 250px;
    overflow: visible;
    margin: 0 0 10px 0;
    text-align: center;
    font-family: arial;
    color: gray;
  }
  
.profileTitle {
    color: grey;
    font-size: 18px;
  }

  .socialMedia{
      display: grid;
      grid-template-columns: 3fr 1fr 1fr;
  }

  
  .card a {
      margin-top: 15px;
    text-decoration: none;
    font-size: 22px;
    color: black;
    padding: 0;
  }

  .priceAndProfile{
      margin-top: 50px;
      display: grid;
      grid-template-columns: 2fr 2fr;
      grid-gap: 10px;
  }

  .card img{
      max-height: 300px;
      border: solid 5px silver;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      margin-bottom: 0;
  }

  .tourGuide{
      font-size: 24px;
      font-weight: bold;
      margin: 0;
      padding: 0;
  }

  .profileTitle{
      margin: 0;
      line-height: 1;
      font-size: 14px;
      font-style: italic;
  }

  .infoOnTourGuide{
      max-height: 500px;
      display: flex;
      flex-direction: column;
  }

  #contactUsContainer{
      margin-top: 50px;
      display: flex;
      justify-content: flex-end;
      overflow: visible;
      min-height: 100px;
      padding-right: 10px;
  }
  #contactUsContainer button{
    border: none;
    border-radius: 5px;
    background: #e7d9cf;
    box-shadow: 2px 5px #999;
    max-height: 50px;

    font: inherit;
    cursor: pointer;
  }

  #contactUsContainer button:hover{
      background-color: #c5a289;
  }

  #contactUsContainer button:active{
    box-shadow: 0 2px #999;
}

#contactUsContainer button:focus{
    outline:0;
}

@media only screen and (max-width: 750px){
    .together{
        display: flex;
        flex-direction: column;
        margin: 0 5%;
    }

    .upplýsingar ul{
        line-height: 1.0;
        padding-top: 5%;
        height: auto;
        color: rgba(19, 17, 17, 0.486);
    }

    .mainPic{
        max-height: 300px;
    }

    .slides{
        max-height: 100px;
        max-width: 150px;
    }

    
}



/*End of theTour page*/