.kynning{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: gray;

    margin-top: 25px;
    justify-content: center;
}

.kynning h3{
    font-weight: 100;
    font-size: 4rem;
    margin-bottom: 30px;
    transform: scale(.8, 1);
    cursor: default;
}

.kynning p{
    margin: 0 10% 5% 10%;
    font-size: 24px;
    padding: 0 10%;
    cursor: default;

}

.greinarTours{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 10% 0 10%;

    list-style: none;
    padding: 0;

}

.greinarTours img{
    width: 100%;
}

.greinarTours li{
    margin-top: 100px;
}
.greinarTours a{
    color: black;
    text-decoration:  none;
    height: 100%;
}


.greinarTours img{
    border-radius: 5px;
    height: 280px;
}

.greinarTours h1{
    text-align: center;
    color: #323232;
}

.greinarTours li{
    opacity: 0.8;
    transition: all 1s;  
}

.greinarTours li:hover{
    opacity: 1.0;
    transform: scale(1.05);
    z-index: 1;
}

@media screen and (max-width: 750px){

    .greinarTours{
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    

}